/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Inter', 'sans-serif';
}

body {
    background: #F5F7FB;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    margin: auto;
}

hr {
    height: 1px;
    border: 1px solid #DBDEF0;
}

/* Typography */

.start-screen--title {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 2rem;
    margin: .5em;
}

.start-screen--subtitle {
    font-size: 1rem;
}
/* Buttons */

.system-button {
    background: #4D5B9E;
    color: #F5F7FB;
    border-radius: 1.5em;
    border: none;
    font-weight: 600;
    margin: 1em;
}

.start-screen--button {
    border-radius: 1.5em;
    padding: 1em 2em;
    font-size: 1rem;

}

.submit-button {
    border-radius: 1.5em;
    padding: .7em;
    align-self: center;
}

.start-screen--button:hover, .submit-button:hover, .question--choice:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

.start-screen--button:active, .submit-button:active {
    background-color: #3e8e41;
    transform: translateY(2px);
}

/* Choices */

.question--choice {
    font-size: .8rem;
    color: #293264;
    border: 1px solid #4D5B9E;
    border-radius: 1em;
    padding: .5em;
}

.question--choice:hover {
    background: #D6DBF5;
}

.question--choice:active {
    transform: translateY(2px);
}

/* Choices modifiers */

.selected {
    background: #D6DBF5;
}

.correct {
    background: #94D7A2;
}

.incorrect {
    background: #F8BCBC;
}

.unchosen {
    opacity: 0.5;
}
/* Start Screen */

.start-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    color: #293264;
}

/* Quiz */

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.question--choices {
    display: flex;
    gap: .8em;
}

.question--prompt {
    font-family: 'Karla';
    font-size: 1.2rem;
    margin: .3em 0;
}

.form {
    display: flex;
    flex-direction: column;
    color: #293264;
    margin: 1em
}

.results {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results--score {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}